[Unit]
Description=CBOXGROUPD daemon for CERNBox
After=syslog.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/var/log/cboxgroupd
ExecStart=/usr/local/bin/cboxgroupd
StandardOutput=null
StandardError=syslog

[Install]
WantedBy=multi-user.target

